{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1 class="display-5">Studentai</h1>
    <ul class="list-group">
    {% for teams, team in data %}
        {% for member in team.members %}
        <li class="list-group-item">
            <a href="{{ path('akademija', {'slug': 'akademija', 'utm_campaign': team.mentor|url_encode , 'utm_term': member|url_encode , 'utm_content': teams|url_encode } )}}">
                {{ member }}
            </a>
        </li>
        {% endfor %}
    {% endfor %}
    </ul>

{% endblock %}
